
Notes/k-essence.toc
Notes/k-essence.synctex.gz
Notes/k-essence.out
Notes/k-essence.log
Notes/k-essence.blg
Notes/k-essence.bbl
Notes/k-essence.aux
Notes/.DS_Store
mathematica/.DS_Store
field_analysis_snapshots/L_100_N_64_cs2_em8_det/zeta_num_9.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/zeta_num_8.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/zeta_num_7.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/zeta_num_6.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/zeta_num_5.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/zeta_num_4.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/zeta_num_3.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/zeta_num_24.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/zeta_num_23.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/zeta_num_22.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/zeta_num_21.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/zeta_num_20.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/zeta_num_2.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/zeta_num_19.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/zeta_num_18.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/zeta_num_17.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/zeta_num_16.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/zeta_num_15.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/zeta_num_14.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/zeta_num_13.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/zeta_num_12.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/zeta_num_11.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/zeta_num_10.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/zeta_num_1.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/zeta9.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/zeta8.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/zeta7.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/zeta6.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/zeta5.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/zeta4.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/zeta3.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/zeta2.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/zeta1.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/snapshots_2.txt
field_analysis_snapshots/L_100_N_64_cs2_em8_det/snapshots.txt
field_analysis_snapshots/L_100_N_64_cs2_em8_det/Results_max.txt
field_analysis_snapshots/L_100_N_64_cs2_em8_det/Result_real.txt
field_analysis_snapshots/L_100_N_64_cs2_em8_det/Result_fourier.txt
field_analysis_snapshots/L_100_N_64_cs2_em8_det/Result_avg.txt
field_analysis_snapshots/L_100_N_64_cs2_em8_det/pi_k_num_9.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/pi_k_num_8.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/pi_k_num_7.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/pi_k_num_6.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/pi_k_num_5.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/pi_k_num_4.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/pi_k_num_3.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/pi_k_num_24.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/pi_k_num_23.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/pi_k_num_22.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/pi_k_num_21.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/pi_k_num_20.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/pi_k_num_2.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/pi_k_num_19.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/pi_k_num_18.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/pi_k_num_17.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/pi_k_num_16.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/pi_k_num_15.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/pi_k_num_14.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/pi_k_num_13.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/pi_k_num_12.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/pi_k_num_11.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/pi_k_num_10.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/pi_k_num_1.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/pi_k9.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/pi_k8.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/pi_k7.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/pi_k6.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/pi_k5.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/pi_k4.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/pi_k3.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/pi_k2.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/pi_k1.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/phi_num_9.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/phi_num_8.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/phi_num_7.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/phi_num_6.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/phi_num_5.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/phi_num_4.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/phi_num_3.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/phi_num_24.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/phi_num_23.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/phi_num_22.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/phi_num_21.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/phi_num_20.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/phi_num_2.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/phi_num_19.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/phi_num_18.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/phi_num_17.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/phi_num_16.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/phi_num_15.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/phi_num_14.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/phi_num_13.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/phi_num_12.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/phi_num_11.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/phi_num_10.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/phi_num_1.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/phi9.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/phi8.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/phi7.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/phi6.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/phi5.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/phi4.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/phi3.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/phi2.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/phi1.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/kess_snap_007_T00_Kess.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/kess_snap_007_pi_k.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/kess_snap_006_T00_Kess.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/kess_snap_006_pi_k.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/kess_snap_005_T00_Kess.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/kess_snap_005_pi_k.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/kess_snap_004_T00_Kess.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/kess_snap_004_pi_k.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/kess_snap_003_T00_Kess.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/kess_snap_003_pi_k.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/kess_snap_002_T00_Kess.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/kess_snap_002_pi_k.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/kess_snap_001_T00_Kess.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/kess_snap_001_pi_k.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/kess_snap_000_T00_Kess.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/kess_snap_000_pi_k.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/kess_pk_009_delta.dat
field_analysis_snapshots/L_100_N_64_cs2_em8_det/kess_pk_008_delta.dat
field_analysis_snapshots/L_100_N_64_cs2_em8_det/kess_pk_007_delta.dat
field_analysis_snapshots/L_100_N_64_cs2_em8_det/kess_pk_006_delta.dat
field_analysis_snapshots/L_100_N_64_cs2_em8_det/kess_pk_005_delta.dat
field_analysis_snapshots/L_100_N_64_cs2_em8_det/kess_pk_004_delta.dat
field_analysis_snapshots/L_100_N_64_cs2_em8_det/kess_pk_003_delta.dat
field_analysis_snapshots/L_100_N_64_cs2_em8_det/kess_pk_002_delta.dat
field_analysis_snapshots/L_100_N_64_cs2_em8_det/kess_pk_001_delta.dat
field_analysis_snapshots/L_100_N_64_cs2_em8_det/kess_pk_000_short_wave.dat
field_analysis_snapshots/L_100_N_64_cs2_em8_det/kess_pk_000_delta.dat
field_analysis_snapshots/L_100_N_64_cs2_em8_det/kess__settings_used.ini
field_analysis_snapshots/L_100_N_64_cs2_em8_det/kess__background.dat
field_analysis_snapshots/L_100_N_64_cs2_em8_det/Det_kinetic_num_9.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/Det_kinetic_num_8.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/Det_kinetic_num_7.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/Det_kinetic_num_6.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/Det_kinetic_num_5.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/Det_kinetic_num_4.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/Det_kinetic_num_3.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/Det_kinetic_num_24.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/Det_kinetic_num_23.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/Det_kinetic_num_22.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/Det_kinetic_num_21.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/Det_kinetic_num_20.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/Det_kinetic_num_2.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/Det_kinetic_num_19.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/Det_kinetic_num_18.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/Det_kinetic_num_17.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/Det_kinetic_num_16.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/Det_kinetic_num_15.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/Det_kinetic_num_14.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/Det_kinetic_num_13.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/Det_kinetic_num_12.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/Det_kinetic_num_11.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/Det_kinetic_num_10.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/Det_kinetic_num_1.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/Det_kinetic9.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/Det_kinetic8.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/Det_kinetic7.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/Det_kinetic6.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/Det_kinetic5.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/Det_kinetic4.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/Det_kinetic3.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/Det_kinetic2.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/Det_kinetic1.h5
field_analysis_snapshots/L_100_N_64_cs2_em8_det/.DS_Store
field_analysis_snapshots/L_100_N_64_cs2_em4_det/zeta_num_9.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/zeta_num_8.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/zeta_num_7.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/zeta_num_6.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/zeta_num_5.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/zeta_num_4.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/zeta_num_3.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/zeta_num_24.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/zeta_num_23.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/zeta_num_22.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/zeta_num_21.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/zeta_num_20.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/zeta_num_2.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/zeta_num_19.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/zeta_num_18.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/zeta_num_17.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/zeta_num_16.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/zeta_num_15.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/zeta_num_14.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/zeta_num_13.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/zeta_num_12.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/zeta_num_11.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/zeta_num_10.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/zeta_num_1.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/snapshots_2.txt
field_analysis_snapshots/L_100_N_64_cs2_em4_det/snapshots.txt
field_analysis_snapshots/L_100_N_64_cs2_em4_det/Results_max.txt
field_analysis_snapshots/L_100_N_64_cs2_em4_det/Result_real.txt
field_analysis_snapshots/L_100_N_64_cs2_em4_det/Result_fourier.txt
field_analysis_snapshots/L_100_N_64_cs2_em4_det/Result_avg.txt
field_analysis_snapshots/L_100_N_64_cs2_em4_det/pi_k_num_9.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/pi_k_num_8.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/pi_k_num_7.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/pi_k_num_6.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/pi_k_num_5.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/pi_k_num_4.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/pi_k_num_3.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/pi_k_num_24.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/pi_k_num_23.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/pi_k_num_22.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/pi_k_num_21.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/pi_k_num_20.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/pi_k_num_2.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/pi_k_num_19.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/pi_k_num_18.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/pi_k_num_17.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/pi_k_num_16.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/pi_k_num_15.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/pi_k_num_14.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/pi_k_num_13.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/pi_k_num_12.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/pi_k_num_11.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/pi_k_num_10.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/pi_k_num_1.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/phi_num_9.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/phi_num_8.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/phi_num_7.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/phi_num_6.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/phi_num_5.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/phi_num_4.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/phi_num_3.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/phi_num_24.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/phi_num_23.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/phi_num_22.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/phi_num_21.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/phi_num_20.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/phi_num_2.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/phi_num_19.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/phi_num_18.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/phi_num_17.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/phi_num_16.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/phi_num_15.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/phi_num_14.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/phi_num_13.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/phi_num_12.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/phi_num_11.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/phi_num_10.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/phi_num_1.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/kess_snap_007_T00_Kess.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/kess_snap_007_pi_k.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/kess_snap_006_T00_Kess.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/kess_snap_006_pi_k.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/kess_snap_005_T00_Kess.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/kess_snap_005_pi_k.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/kess_snap_004_T00_Kess.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/kess_snap_004_pi_k.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/kess_snap_003_T00_Kess.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/kess_snap_003_pi_k.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/kess_snap_002_T00_Kess.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/kess_snap_002_pi_k.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/kess_snap_001_T00_Kess.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/kess_snap_001_pi_k.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/kess_snap_000_T00_Kess.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/kess_snap_000_pi_k.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/kess_pk_000_short_wave.dat
field_analysis_snapshots/L_100_N_64_cs2_em4_det/kess_pk_000_delta.dat
field_analysis_snapshots/L_100_N_64_cs2_em4_det/kess__settings_used.ini
field_analysis_snapshots/L_100_N_64_cs2_em4_det/kess__background.dat
field_analysis_snapshots/L_100_N_64_cs2_em4_det/Det_kinetic_num_9.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/Det_kinetic_num_8.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/Det_kinetic_num_7.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/Det_kinetic_num_6.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/Det_kinetic_num_5.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/Det_kinetic_num_4.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/Det_kinetic_num_3.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/Det_kinetic_num_24.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/Det_kinetic_num_23.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/Det_kinetic_num_22.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/Det_kinetic_num_21.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/Det_kinetic_num_20.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/Det_kinetic_num_2.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/Det_kinetic_num_19.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/Det_kinetic_num_18.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/Det_kinetic_num_17.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/Det_kinetic_num_16.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/Det_kinetic_num_15.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/Det_kinetic_num_14.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/Det_kinetic_num_13.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/Det_kinetic_num_12.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/Det_kinetic_num_11.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/Det_kinetic_num_10.h5
field_analysis_snapshots/L_100_N_64_cs2_em4_det/Det_kinetic_num_1.h5
field_analysis_snapshots/kess_3D0.jpg
field_analysis_snapshots/.DS_Store
.DS_Store
field_analysis_snapshots/kess_3D0.jpg
mathematica/.DS_Store
field_analysis_snapshots/kess_3D0.jpg
mathematica/.DS_Store
